<p>Lesson 4: Of-Operator</p>
<p>Lesson 5: From-Operator</p>

<a href='https://www.youtube.com/watch?v=rlMOcUKaeO4&list=PLp50dWW_m40WID0zCrftuRCVa3mCaxYG6&index=6' target='_blank'>
  Link to video lesson (4)
</a>
<br/>
<a href='https://www.youtube.com/watch?v=rlMOcUKaeO4&list=PLp50dWW_m40WID0zCrftuRCVa3mCaxYG6&index=7' target='_blank'>
  Link to video lesson (5)
</a>

<p>
  Of-operator makes a variable into an Observable.
  Open the console to see Array, string and Object -based Observables subscribed and printed out.
</p>

<p>
  From-operator makes an Array-like variable or a Promise into an Observable.
  As seen from the console, Of-induced Observable prints the whole array,
  while From-induced Observable prints the data one element at a time.
</p>
